Source: hadess-sensorfw-proxy
Section: admin
Priority: optional
Build-Depends: cmake,
               debhelper-compat (= 13),
               dbus,
               libglib2.0-dev,
               libgudev-1.0-dev,
               pkg-config,
               sensorfw-qt6,
               systemd,
               qt6-base-dev,
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Standards-Version: 4.6.1
Homepage: https://github.com/droidian/hadess-sensorfw-proxy

Package: hadess-sensorfw-proxy
Section: libs
Architecture: any
Pre-Depends: iio-sensor-proxy,
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libsensorfw-qt6-plugins,
         libsensorfw-qt6-hybris,
Description: Sensorfw sensors to hadess iio proxy adaptor
 Sensorfw sensors to hadess iio proxy adaptor
